@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* Ganti tampilan baris edit saat tombol "Edit" diklik */
.edit-row {
    display: table-row;
}

/* Ganti tampilan baris data saat tombol "Edit" diklik */
tr:not(.edit-row) {
    display: table-row;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-form {
    height: 500px;
    max-width: 300px;
    margin: 20px auto;
    padding: 75px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.save-button {
    padding: 10px 20px;
    background-color: #0099cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #fc1010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



.animated-heading {
    border-radius: 15px;
    background-color: #333;
    color: white;
    font-size: 2.5em;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

.edit-button, .delete-button {
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.edit-button:hover, .delete-button:hover {
    background-color: #0099cc;
}

form {
    margin-top: 20px;
}

/* CSS untuk tombol Logout */
.logout-button button{
    justify-content: right;
    align-items: flex-end;
    /* display: flex; */
    /* align-items: right; Mengatur elemen secara vertikal di tengah */
    /* padding-left: 100px; */
    margin-top: 10px;
}

.logout-button p {
    font-size: 15px;
    margin-right: 25px; /* Memberikan jarak dari kanan ke tombol Logout */
}

.logout-button button {
    padding: 10px 20px;
    background-color: #ff0000; /* Warna latar belakang merah (ganti sesuai preferensi Anda) */
    color: #fff; /* Warna teks putih */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button button:hover {
    background-color: #cc0000; /* Warna latar belakang saat digulirkan (ganti sesuai preferensi Anda) */
}


input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #0099cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0077aa;
}


/* CSS untuk input */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Menambahkan margin di atas dan bawah setiap input */
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* CSS untuk tombol Tambah */
.submit-button {
    padding: 10px 20px;
    background-color: #0099cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0077aa;
}
