:root {
  --primary: #387999;
  --dasar: #000203;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #387999;
  color: rgb(251, 248, 248);
  min-height: 3000px;
}

body.dark {
  background-color: #000;
  color: #fff;
}

.box.dark-mode {
  background: #222; 
  color: #fff; 
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(174, 209, 226, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* on small screen use smaller logo */
.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

/* on small screen hide navbar-nav */
.navbar .navbar-nav {
  display: none;
}

@media (min-width: 768px) {
  .navbar .navbar-logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
  }

  .navbar .navbar-nav {
    display: flex;
  }
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--dasar);
}

.navbar-extra .dark-light {
  display: flex;
  color: rgb(3, 3, 3);
  margin: 0 0.5rem;
  align-items: center;
}

.navbar-extra .dark-light {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.dark-light i {
  position: absolute;
  color: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.navbar .navbar-extra a:hover {
  color: var(--dasar);
}

/* hero section */
.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hero-overlay {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgb(56, 121, 153, 0.1),
    rgba(56, 121, 153, 1)
  );
  z-index: -1;
}

body.dark .hero-overlay {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 68rem;
}

/* smaller font on small screen */
.hero .content h1 {
  font-size: 2rem;
  color: rgba(249, 247, 245, 0.963);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content p {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

@media (min-width: 768px) {
  .hero .content h1 {
    font-size: 3em;
  }

  .hero .content p {
    font-size: 1.5rem;
  }
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: rgb(2, 2, 2);
  background-color: #387999;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero .content .cta {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}

/* menu section */
.menu {
  padding: 10rem 7% 1.4rem;
}

.menu h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: rgb(252, 251, 251);
}

.menu h3 {
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  margin: auto;
  line-height: 1.6;
  max-width: 40rem;
}

@media (min-width: 768px) {
  .menu h2 {
    font-size: 2.6rem;
  }

  .menu h3 {
    font-size: 1.2rem;
  }
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding: 0.5rem;
}

.menu .row .menu-card img {
  width: 40%;
}

.menu-card-title {
  margin: 0.5rem auto 1rem;
  font-size: 1.6rem;
  color: white;
}

.menu-card-text {
  margin-bottom: 3rem;
}

.tentangsaya {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: white;
  padding: 5rem 9% 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.row .image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }

  .row .image {
    justify-content: end;
  }
}

.gambar-kecil {
  width: 100%;
  max-width: 400px;
}

.content p {
  font-size: 1.3rem;
  color: white;
  margin-top: 0.5rem;
  text-align: left;
}

.footer {
  background-color: rgba(174, 209, 226, 0.8);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer p {
  margin: 0;
}
